
@{
    ViewBag.Title = "DisplayEmail";
}

<h2>DisplayEmail</h2>

<div class="container form-account">
    <p>На указанный электронный адрес отправлены дальнейшие инструкции по завершению регистрации</p>
</div>