@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="container form-account">
    <p>
        Проверьте свой адрес электронной почты, чтобы сбросить пароль.
    </p>
</div>
	
