@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="container form-account">
    <p>
        Ваш пароль был сброшен. пожалуйста @Html.ActionLink("Кликните здесь чтоб войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
