body {
    font-family: 'Cuprum';
    font-weight: 300;
    font-size: 16px;
    color: #f5f5f5;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.navbar-brand {
    font-family: 'Marck Script';
    font-size: 2em;
    text-shadow: 2px 2px 20px black;
}

.navbar-inverse .navbar-nav > li > a {
     color: white;
     font-size: 18px;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #7f7f7f;
}


#affix {
            -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        -ms-transition: padding .3s;
        -o-transition: padding .3s;
        transition: padding .3s;
    background-color: rgba(38, 38, 38, .67);
    border: none;
    }

.navbar {
        padding: 3px 0;
        border: none;
        background-color: black;
    }


.header {

    background: url(../Images/bg-main.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.header__text {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
    text-shadow: 3px 2px 9px black, 0 0 1em black;
}

.header__text h1 {
    font-size: 50px;
    font-family: 'Marck Script';
}
.header__text__title {
    font-size: 25px;
    font-family: 'Cuprum';
    text-transform: uppercase;
}
.menu {
    text-align: center;
    color: #333333;
}

.menu__text {
    margin-top: 90px;
    margin-bottom: 70px;
}

.menu-item {
    color: #1B1A1A;
    height: 520px;
}

.menu-item img { height: 300px; }

.menu-item img:hover { height: 310px; }

.menu-item__text {
    width: 250px;
    margin: 0 auto;
    color: #7F7F7F;
    margin-bottom: 90px;
}

.about {
    min-height: 650px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #e6e6e6;
    background-image: url('/Content/Images/bg-about.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about__content {
    background-color: rgba(0, 0, 0, 0.5);
    -ms-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    text-shadow: 2px 2px 40px black;
    font-family: 'Marck Script';
}

.about__content__title {
    margin-bottom: 35px;
    font-size: 40px;
}

.about__content__text {

    font-size: 25px;
    padding: 15px 4px 30px 4px;
}

.mapinfo { background-color: burlywood; }

.mapinfo-text {
    color: white;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer { background-color: #1b1a1a; }

.footer-content {
    margin-top: 50px;
    margin-bottom: 40px;
}

.footer-content__item__text ul {
    margin-left: 0;
    padding-left: 0;
}

.footer-content__item__text li { list-style-type: none; }

.footer-content__item__title {
    margin-bottom: 20px;
    font-weight: bold;
}

.footer-datetime { margin-bottom: 5px; }

.form-account {
    color: #1b1a1a;
    font-family: 'Cuprum';
    margin-top: 100px;
    margin-bottom: 200px;
}

#news{
	height: 70px;
	overflow: hidden;
}
#news li{
	height: 70px;
}
.news__title a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.news__title :hover {
    color: #7f7f7f;
    text-decoration: underline;
}

.news__date {
    font-size: 13px;
    color: darkgrey;
}

.headimage-block { position: relative; }

.headimage-block .overlay {
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
position: absolute;
-webkit-transition: .3s ease;
-o-transition: .3s ease;
transition: .3s ease;
}

.headimage-block { position: relative; }

.headimage-block .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}


.headimage-block .overlay.black { background-color: rgba(58, 58, 58, 0); }

.headimage-block .overlay.black:hover { background-color: rgba(58, 58, 58, 0.91); }


.headimage-block .change-image {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    display: none;
}

.headimage-block  .overlay.black:hover .change-image {
    display: block;
    font-weight: bold;
}

.headimage-block .change-image:after { display: block; }

.float-right {
    float: right;
}

.news__item__date {
    color: #7f7f7f;
    font-size: 14px;
}
.news__item__shortdescription {
    height: 70px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news__item__title a {
    color: black;
}
.news__item__img {
    -ms-background-size: cover;
    background-size: cover;
    margin-top: 22px;
    height: 178px;
    -ms-background-position: 50%;
    background-position: 50%;
    position: relative;
}
.news__item__delete-block {
    background-color: #FF7373;
    height: 178px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    color: white;
    text-align: center;
    display: none;
}
.news__item__delete-block__content {
    margin-top: 60px;
}
.news__item__delete-block__text {
    font-size: 25px;

}
.news__item__delete-block__button {
    cursor: pointer;
}
.delete-block__button__Yes:hover {
    text-decoration: underline;
}
.delete-block__button__No:hover {
    text-decoration: underline;
}
.news__item__links {
    margin-top: 10px;
    margin-bottom: -10px;
}
.news__item__links__delete-news {
    color: blue;
}
.news__item__links__delete-news:hover {
    text-decoration: underline;
}
.news__item__seo__attr {
    font-size: 12px;
    color: brown;
}
.news__item__body {
    text-align: justify;
    font-size: 14px;
}
.news__item__seo {
    padding: 10px;
    background-color: #f5f5f5;
    margin-top: -10px;
}
.Details-news {
}
.Details-news__img {
    height: 300px;
    -ms-background-size: cover;
    background-size: cover;
    -ms-background-position: 50%;
    background-position: 50%;
    position: relative;
}
.Details-news__Name {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
}
.Details-news__Datetime {
    color: #7f7f7f;
}

